{% extends "/layout/master.html.twig" %}
{% block title %}Terms Condition{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="container-fluid">

        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h4 class="main-title">Conditions générales d'utilisation</h4>
                
            </div>
        </div>
        <!-- Breadcrumb end -->

        <!-- terms condition start -->
        <div class="row terms-condition-container">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-primary"><i class="ti ti-north-star text-primary me-2"></i>Bienvenue sur Meduse</h4>
                        <div class="mt-4">
                            <p class="text-dark f-s-16 corner-arrow">
                                <i class="ti ti-corner-down-right-double text-primary me-2"></i> Article 1
                            </p>
                            <p class="mt-3 text-dark f-s-16"><i class="ti ti-corner-down-right-double text-primary me-2"></i> Article 2</p>
                            <ul class="px-5 py-3">
                                <li class="diamond diamond-bullet-secondary f-s-14 text-secondary">Texte 1</li>
                                <li class="diamond diamond-bullet-secondary f-s-14 text-secondary">Texte 2</li>
                                
                            </ul>
                            <p class="mt-3 text-dark f-s-16">
                                <i class="ti ti-corner-down-right-double text-primary me-2"></i>
                                Article 3
                            </p>
                            <p class="mt-3 text-dark f-s-16">
                                <i class="ti ti-corner-down-right-double text-primary me-2"></i>
                               Article 4
                            </p>
                            <h5 class="text-primary mt-3"><i class="ti ti-north-star text-primary me-2"></i>Droits d'auteur et marques</h5>
                            <p class="mt-3 text-dark f-s-16">
                                <i class="ti ti-corner-down-right-double text-primary me-2"></i>
Article 1                            </p>
                            <p class="mt-3 text-dark f-s-16">
                                <i class="ti ti-corner-down-right-double text-primary me-2"></i>
Article 2                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!--customizer-->
<div id="customizer"></div>

{% endblock %}
